<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>Connexion</title>
</head>
<body>
    <h1>Connexion à Medilabo</h1>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="username">Nom d'utilisateur</label>
            <input type="text" id="username" name="username" required autofocus />
        </div>
        <div>
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" required />
        </div>
        <input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div th:if="${param.error}">
            <p style="color: red">Identifiants invalides. Veuillez réessayer.</p>
        </div>
        <div th:if="${param.logout}">
            <p>Vous avez été déconnecté avec succès.</p>
        </div>
        <div>
            <button type="submit">Se connecter</button>
        </div>
    </form>
    <p>Pas encore de compte ? <a th:href="@{/register}">Créer un compte</a></p>
</body>
</html>