<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>Créer un compte</title>
</head>
<body>
    <h1>Créer un compte</h1>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <div>
            <label for="username">Nom d'utilisateur</label>
            <input type="text" id="username" th:field="*{username}" required />
        </div>
        <div>
            <label for="password">Mot de passe</label>
            <input type="password" id="password" th:field="*{password}" required />
        </div>
        <input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div>
            <button type="submit">S'inscrire</button>
        </div>
    </form>
	<div th:if="${error}">
	    <p style="color: red" th:text="${error}"></p>
	</div>
    <p>Déjà un compte ? <a th:href="@{/login}">Se connecter</a></p>
</body>
</html>