<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Liste des patients</title>
  <meta charset="UTF-8">
  <style>
    button.link {
      background: none;
      border: none;
      color: blue;
      text-decoration: underline;
      cursor: pointer;
      font-size: 1em;
      padding: 0;
    }
  </style>
</head>
<body>

  <!-- Message de bienvenue -->
  <p>
    Bienvenue <span sec:authentication="name"></span> !
    <a th:href="@{/logout}">Se déconnecter</a>
  </p>

  <h1>Liste des patients</h1>
  <a href="/patients/new">Ajouter un patient</a>
  <table border="1">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date</th>
        <th>Genre</th>
        <th>Adresse</th>
        <th>Téléphone</th>
        <th>Actions</th>
        <th>Notes</th>
        <th>Risque diabète</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="p : ${patients}">
        <td th:text="${p.nom}"></td>
        <td th:text="${p.prenom}"></td>
        <td th:text="${p.dateNaissance}"></td>
        <td th:text="${p.genre}"></td>
        <td th:text="${p.adresse}"></td>
        <td th:text="${p.telephone}"></td>

        <td>
          <form th:action="@{'/patients/edit/' + ${p.id}}" method="get" style="display:inline;">
            <button class="link" type="submit">Modifier</button>
          </form>
          <form th:action="@{'/patients/delete/' + ${p.id}}" method="get" style="display:inline;"
                onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce patient ?');">
            <button class="link" type="submit">Supprimer</button>
          </form>
          <form th:action="@{'/patients/' + ${p.id} + '/report/pdf'}" method="get" style="display:inline;">
            <button class="link" type="submit">Télécharger le PDF</button>
          </form>
        </td>

        <td>
          <form th:action="@{'/patients/' + ${p.id} + '/notes'}" method="get">
            <button class="link" type="submit">Voir les notes</button>
          </form>
        </td>

        <td>
          <form th:action="@{'/patients/' + ${p.id} + '/risk'}" method="get">
            <button class="link" type="submit">Voir le rapport</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
